.header img{
    display: block;
    height: 80px;
    margin: auto;
}

.header nav {
    background-color: black;
    line-height: 40px;
    text-align: center;
}

.header a {
    color: white;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    margin-right: 20px;
    padding: 6px;
    transition: all 0.3s linear;
}

nav a:hover {
    background-color: gray;
}